<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<style>

      /************************************************************************
       * TYPE2 STYLE                                                          *
       ************************************************************************/
      button.btn2 { display: inline-block; padding: 7px 12px; font-size: 14px; border: 0; background-color: #fff; outline: none; color: #000; box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-radius: 2px; }

      button.btn2:hover { border-radius: 2px; background-color: rgba(0,0,0,0.07); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
      button.btn2:active { box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px; }

      button.btn2.btn2-primary { color: #fff; background-color: rgb(0, 188, 212); }
      button.btn2.btn2-primary:hover { background-color: rgba(0, 188, 212, 0.4); }

      /************************************************************************
       * DIALGO STYLE                                                         *
       ************************************************************************/
      .dialog {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);

        margin: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
      }

      .dialog .box {
        position: relative;
        border: 1px solid green;
        border-radius: 2px;
        /*margin: auto;*/
        width: 527px;
        height: 189px;
        background-color: #fff;
        padding: 24px;
        top: -20%;
      }

      .dialog .box .contents {
        margin-top: 21px;
        color: rgba(0, 0, 0, 0.6);
      }

      .dialog .box .buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        padding: 19px;
      }

      .dialog.deactive {
        z-index: -1;
        opacity: 0;
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
      .dialog.deactive .box {
        opacity: 0;
        margin-top: 0;
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
      .dialog.active {
        z-index: 99;
        opacity: 1;
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
      .dialog.active .box {
        opacity: 1;
        margin-top: 13%;
        transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }

		</style>
  </head>
  <body>
    <% include ../base/header %> 
    <% include ../base/nav %> 
    <section class="main">
      <h1>Dialog</h1>
      <h3>- Primary Type</h3>
      <div>
        <button id="dbutton" type="button" class="btn2 btn2-primary">Dialog</button>
      </div>
      <div id="dialog" class="dialog deactive">
        <div class="box">
          <h2>Dialog title</h2>
          <div class="contents">
            The actions in this window were passed in as an array of React objects.
          </div>
          <div class="buttons">
            <button type="button" class="btn2 dialog-close">Cancel</button>
            <button type="button" class="btn2 btn2-primary">Submit</button>
          </div>
        </div>
      </div>
    </section>
    <% include ../base/footer %> 
    <script>

      var util = { 
        addClass: function (target, addClass) {
          var className = target.className;
          if (!new RegExp(addClass, 'g').exec(className)) {
            className += " "+addClass;
            target.className = className;
          }
        },
        removeClass: function (target, removeClass) {
          var className = target.className;
          if (new RegExp(removeClass, 'g').exec(className)) {
            var regex = new RegExp(' '+removeClass, 'g');
            className = className.replace(regex, '');
            target.className = className;
          }
        }
      }

      function Dialog(button, dialog) {
        this.dialog = dialog;
        this.button = button;
        this.init();
      }

      Dialog.prototype = {
        init: function() {
          var self = this;
          var box = self.dialog.querySelector(".box");

          self.button.addEventListener('click', function() {
            self.openDialog();
          });

          box.addEventListener('click', function(evt) {
            evt.stopPropagation();
            evt.preventDefault();
          });

          self.dialog.addEventListener('click', function() {
            self.closeDialog();
          });

          document.querySelector('.dialog-close').addEventListener('click',function() {
            self.closeDialog();
          });

        },
        openDialog: function() {
          var self = this;
          var className = self.dialog.className;

          util.removeClass(self.dialog,'deactive');
          util.addClass(self.dialog,'active');

        },
        closeDialog: function() {
          var self = this;
          var className = self.dialog.className;
          util.removeClass(self.dialog, 'active');
          util.addClass(self.dialog,'deactive');
        }
      }
      var dialog = new Dialog(
        document.getElementById("dbutton"),
        document.getElementById("dialog")
      );

    </script>
  </body>
</html>
