<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<style>
		</style>
  </head>
  <body>
    <% include ../base/header %> 
    <% include ../base/nav %> 
    <section class="main">
      <div id="scroll">
      </div>
    </section>
    <% include ../base/footer %> 
    <script src="/scroll.bundle.js"></script>
  </body>
</html>
