<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<style>
		</style>
  </head>
  <body>
    <% include ../base/header %> 
    <% include ../base/nav %> 
    <section class="main">
      <h1>Selectbox</h1>
      <h3>- Primary Type</h3>
      <div>
        <select id="select1" name="select1">
          <option name="option1">option1</option>
          <option name="option2">option2</option>
          <option name="option3">option3</option>
        </select>
      </div>
    </section>
    <% include ../base/footer %> 
  </body>
</html>
