<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<style>
      div {
        margin-top: 7px;
      }

      /************************************************************************
       * TYPE1 STYLE                                                          *
       ************************************************************************/

      button.btn {
				padding: 4px 12px;
				border-radius: 3px;
				text-align: center;
				background-repeat: repeat-x;
				box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
        background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
				border: 1px solid #ccc;
				color: #000;
				outline: none;
				text-shadow: 0 -1px 0 rgba(0,0,0,.2);
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
				line-height: 1.3;
				font-size: 14px;

      }
			button.btn:hover {
        text-decoration: none;
        background-color: #e0e0e0;
        background-position: 0 -30px;
        border-color: #adadad;
			}
			button.btn:active {
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			}


			button.btn:disabled {
        background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			}
			button.btn:disabled:hover {
        background-position: none;
        background-position: 0;
        border-color: none;
				border: 1px solid #ccc;
			}

      /**
       * TYPE1 - PRIMARY
       */
      button.btn.btn-primary {
				color: #fff;
				border-color: #245580;
				background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
      }
      button.btn.btn-primary:hover {
        background-color: #265a88;
        border-color: #122b40;
      }

      /**
       * TYPE1 - SECONDARY
       */
      button.btn.btn-secondary {
				color: #fff;
				border-color: #d58512;
        background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
      }
      button.btn.btn-secondary:hover {
        background-color: #eb9316;
        border-color: #d58512;
      }

      button.btn.btn-sm {
        font-size: 11px;
        padding: 2px 10px;
      }
      button.btn.btn-lg {
        font-size: 16px;
        padding: 13px 25px;
        font-weight: bold;
      }



		</style>
  </head>
  <body>
    <% include ../base/header %> 
    <% include ../base/nav %> 
    <section class="main">
      <h1>Button</h1>
      <h3>- Type 1</h3>
      <div>
        <button type="button" class="btn">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn" disabled>Disabled</button>
      </div>
      <div>
        <button type="button" class="btn btn-sm">Default</button>
        <button type="button" class="btn btn-sm  btn-primary">Primary</button>
        <button type="button" class="btn btn-sm  btn-secondary">Secondary</button>
        <button type="button" class="btn btn-sm" disabled>Disabled</button>
      </div>
      <div>
        <button type="button" class="btn btn-lg">Default</button>
        <button type="button" class="btn btn-lg  btn-primary">Primary</button>
        <button type="button" class="btn btn-lg  btn-secondary">Secondary</button>
        <button type="button" class="btn btn-lg" disabled>Disabled</button>
      </div>
    </section>
    <% include ../base/footer %> 
  </body>
</html>
