<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<style>

      /************************************************************************
       * TYPE1 STYLE                                                          *
       ************************************************************************/

      button.btn2 {
        display: inline-block; padding: 7px 12px; font-size: 14px; border: 0; background-color: #fff; outline: none; color: #000; box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-radius: 2px;
      }

      button.btn2:hover {
        border-radius: 2px; background-color: rgba(0,0,0,0.07); transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
      button.btn2:active {
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
      }





      /************************************************************************
       * SCROLL STYLE                                                          *
       ************************************************************************/
      .jwscroll-wrap {
        position: relative;
        box-sizing: border-box;
        width: 70%;
        overflow: hidden;
      }
      .jwscroll {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .jwscroll-wrap .sc {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        bottom: 0;
        right: 0;
        width: 7px;
      }
      .jwscroll-wrap .ps {
        position: absolute;
        border-radius: 5px;
        background-color: green;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 800ms ease;
      }

      .jwscroll-wrap .ps.show {
        opacity: 1;
        transition: opacity 300ms ease;
      }

      .jwscroll::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
		</style>
  </head>
  <body>
    <% include ../base/header %> 
    <% include ../base/nav %> 
    <section class="main">
      <h1>Scroll</h1>
      <h3>- Type A</h3>
      <div class="jwscroll-wrap">
        <div class="jwscroll">
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
          <div style="width: 100%;height: 30px;background-color: #ebebeb;"></div>
          <div style="width: 100%;height: 30px;background-color: #fff;"></div>
        </div>
      </div>
      <br>
      <button id="addContent" class="btn2">Add Content</button>
    </section>
    <% include ../base/footer %> 
    <script>

      var util = { 
        addClass: function (target, addClass) {
          var className = target.className;
          if (!new RegExp(addClass, 'g').exec(className)) {
            className += " "+addClass;
            target.className = className;
          }
        },
        removeClass: function (target, removeClass) {
          var className = target.className;
          if (new RegExp(removeClass, 'g').exec(className)) {
            var regex = new RegExp(' '+removeClass, 'g');
            className = className.replace(regex, '');
            target.className = className;
          }
        }
      }


      function hiddenScroll() {
        var jwscrollWrap = document.querySelector(".jwscroll-wrap");
        var jwscroll = document.querySelector(".jwscroll");
        var scrollWeight = jwscroll.offsetWidth - jwscroll.clientWidth;
        var changeWidth = jwscroll.clientWidth - scrollWeight;
        jwscroll.style.width = jwscroll.clientWidth+"px";
        jwscrollWrap.style.width = changeWidth+"px";
      }

      function addScroll() {

        var scrollWrap = document.querySelector(".jwscroll-wrap");
        var node = document.createElement("div");
        var ps = document.createElement("div");
        ps.className = "ps";
        node.className = "sc";

        node.appendChild(ps);
        scrollWrap.appendChild(node);
      }

      function makeScrollPosition() {
        var jwscroll = document.querySelector(".jwscroll");
        var ps = document.querySelector(".jwscroll-wrap .ps");
        var scrollHeight = jwscroll.scrollHeight;
        var clientHeight = jwscroll.clientHeight;
        var posHeight = parseInt(clientHeight * (clientHeight/scrollHeight));
        ps.style.height = posHeight+"px";
      }
      function setScrollTop() {
        var jwscroll = document.querySelector(".jwscroll");
        var ps = document.querySelector(".jwscroll-wrap .ps");
        var scrollHeight = jwscroll.scrollHeight;
        var clientHeight = jwscroll.clientHeight;
        var rating = clientHeight/scrollHeight;
        var scrollTop = jwscroll.scrollTop * rating;
        ps.style.top = scrollTop+"px";
      }

      hiddenScroll();
      addScroll();
      makeScrollPosition();


      var scrollTime = null;
      document.querySelector(".jwscroll").addEventListener('scroll', function() {

        setScrollTop();

        var ps = document.querySelector(".jwscroll-wrap .ps");
        util.addClass(ps, 'show');
        clearTimeout(scrollTime);
        scrollTime = setTimeout(function() {
          util.removeClass(ps, 'show');
        },1000);
      });
      document.querySelector(".jwscroll").addEventListener('DOMSubtreeModified', function() {
        makeScrollPosition();
        setScrollTop();
      });

      window.addEventListener('resize',function() {
        var jwscrollWrap = document.querySelector(".jwscroll-wrap");
        var jwscroll = document.querySelector(".jwscroll");
        jwscroll.removeAttribute("style");
        jwscrollWrap.removeAttribute("style");
        hiddenScroll();
      });


      document.getElementById("addContent").addEventListener('click', function() {
        var jwscroll = document.querySelector(".jwscroll");
        var node1 = document.createElement("div");
        var node2= document.createElement("div");
        node1.setAttribute('style', "width: 100%;height: 30px;background-color: #ebebeb;");
        node2.setAttribute('style', "width: 100%;height: 30px;background-color: #fff;");
        jwscroll.appendChild(node1);
        jwscroll.appendChild(node2);
      });

    </script>
  </body>
</html>
