<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./base/header %> 
    <% include ./base/nav %> 

    <section class="main">
      seciton
    </section>

    <% include ./base/footer %> 
  </body>
</html>
