<nav>
  <ul>
    <li>
      <b>COMPONENTS</b>
      <ul>
        <li>
          <b>- RADIO</b>
          <ul>
            <li><a href="/vanilla/radio">vanilla</a></li>
            <li><a href="/react/radio">react</a></li>
          </ul>
        </li>
        <li>
          <b>- CHECKBOX</b>
          <ul>
            <li><a href="/vanilla/checkbox">vanilla</a></li>
            <li><a href="/react/checkbox">react</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
