<nav>
  <ul>
    <li>
      <b>COMPONENTS</b>
      <ul>
        <li>
          <b>- RADIO</b>
          <ul>
            <li><a href="/vanilla/radio">vanilla</a></li>
            <li><a href="/react/radio">react</a></li>
          </ul>
        </li>
        <li>
          <b>- CHECKBOX</b>
          <ul>
            <li><a href="/vanilla/checkbox">vanilla</a></li>
            <li><a href="/react/checkbox">react</a></li>
          </ul>
        </li>
        <li>
          <b>- BUTTON</b>
          <ul>
            <li><a href="/vanilla/button">vanilla</a></li>
            <li><a href="/react/button">react</a></li>
          </ul>
        </li>

        <li>
          <b>- TOGGLE</b>
          <ul>
            <li><a href="/vanilla/toggle">vanilla</a></li>
            <li><a href="/react/toggle">react</a></li>
          </ul>
        </li>

        <li>
          <b>- SELECT</b>
          <ul>
            <li><a href="/vanilla/select">vanilla</a></li>
            <li><a href="/react/select">react</a></li>
          </ul>
        </li>

        <li>
          <b>- DIALOG</b>
          <ul>
            <li><a href="/vanilla/dialog">vanilla</a></li>
            <li><a href="/react/dialog">react</a></li>
          </ul>
        </li>

        <li>
          <b>- TAGS</b>
          <ul>
            <li><a href="/vanilla/tags">vanilla</a></li>
            <li><a href="/react/tags">react</a></li>
          </ul>
        </li>

        <li>
          <b>- SCROLL</b>
          <ul>
            <li><a href="/vanilla/scroll">vanilla</a></li>
            <li><a href="/react/scroll">react</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
